<h1> Add a new Spot </h1>



<%= simple_form_for(@spot) do |s| %>
<!--  -->
  <%= s.input :city %>
  <%= s.input :description %>
  <%= s.input :capacity %>
  <%= s.input :price %>
  <%= s.input :shower %>
  <%= s.input :wifi %>
  <%= s.input :pets %>
  <%= s.input :coffee %>
  <%= s.input :kitchen  %>
  <%= s.input :photo %>
  <%= s.input :photo_cache, as: :hidden %>
  <%= s.submit %>
<% end %>

<%= link_to 'Back to homepage', spots_path, class: "btn btn-primary" %>

</div>
