

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path @spot.photo %>);">
  <div>
    <h1>  <h1> <%= @spot.description %></h1>
   <p class="ctybtr"> <%=  @spot.city %></p>

  </div>
</div>





<div class="container">

<%= @spot.city %>
<%= @spot.description %>

<%= link_to 'Back to spots', spots_path, class: "btn btn-primary" %>

</div>
