
<div class="user-onboarding">
  <div class="sign-card">
    <h3 class="sign-title" >Log in</h3>
    <div class="devise-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, placeholder: "example@gmail.com", required: false%>
            <%= f.input :password, placeholder: "password", required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "button-custom" %>
          </div>
          <div>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
    </div>
  </div>
</div>


